.select {
    justify-self: end;
}
#description{
    background-color: #FFEAEA;
    border-radius: 25px;
    /* background-color: #f5cfcf; */
}
#description:focus{
    border: solid #f5cfcf;
}
#title{
    background-color: #FFEAEA;
    border-radius: 25px;
}
#title:focus{
    border: solid #f5cfcf;
}
#date{
    border-radius: 25px;
    padding: 5px;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */