.todo-text {
    cursor: pointer;
}

.todo-completed {
    text-decoration: line-through;
}
#trash{
    border-radius: 25px;
    width: 35px;
    height: 35px;
}
#trashbox{
    border-radius: 25px;
    width: 90%;
    /* background-color: #fff5f5; */
}
#trashbox:hover{
    color: #FFEAEA;
}
#addtask{
    border-radius: 25px;
    width: 85%;
    padding-left: 50px;
    
}
#addtask:focus{
    background-color: #fff9f9;
    border: solid #f5cfcf;
}
